<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>神策分析</title>
</head>
<body>
  <div id="root"></div>
  <div id="appLoading"><div class="ant-spin ant-spin-lg ant-spin-spinning" style="position:fixed;left:50%;top:100px;margin-left:-16px;"><span class="ant-spin-dot ant-spin-dot-spin"><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i></span></div></div>
</body>
</html>
